<div>
    <h2 translate="skulmanApp.versementEleve.home.title">Versement Eleves</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="versement-eleve.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.versementEleve.home.createLabel">
                        Create new Versement Eleve
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.versementEleve.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.versementEleve.anneeScolaire">Annee Scolaire</span></th>
                    <th><span translate="skulmanApp.versementEleve.periode">Periode</span></th>
                    <th><span translate="skulmanApp.versementEleve.montant">Montant</span></th>
                    <th><span translate="skulmanApp.versementEleve.dette">Dette</span></th>
                    <th><span translate="skulmanApp.versementEleve.createBy">Create By</span></th>
                    <th><span translate="skulmanApp.versementEleve.updateBy">Update By</span></th>
                    <th><span translate="skulmanApp.versementEleve.createAt">Create At</span></th>
                    <th><span translate="skulmanApp.versementEleve.updateAt">Update At</span></th>
                    <th><span translate="skulmanApp.versementEleve.agentAdministratif">Agent Administratif</span></th>
                    <th><span translate="skulmanApp.versementEleve.eleve">Eleve</span></th>
                    <th><span translate="skulmanApp.versementEleve.operation">Operation</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="versementEleve in vm.versementEleves track by versementEleve.id">
                    <td><a ui-sref="versement-eleve-detail({id:versementEleve.id})">{{versementEleve.id}}</a></td>
                    <td>{{versementEleve.anneeScolaire}}</td>
                    <td>{{versementEleve.periode}}</td>
                    <td>{{versementEleve.montant}}</td>
                    <td>{{versementEleve.dette}}</td>
                    <td>{{versementEleve.createBy}}</td>
                    <td>{{versementEleve.updateBy}}</td>
                    <td>{{versementEleve.createAt | date:'medium'}}</td>
                    <td>{{versementEleve.updateAt | date:'medium'}}</td>
                    <td>
                        <a ui-sref="agent-administratif-detail({id:versementEleve.agentAdministratif.id})">{{versementEleve.agentAdministratif.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="eleve-detail({id:versementEleve.eleve.id})">{{versementEleve.eleve.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="operation-detail({id:versementEleve.operation.id})">{{versementEleve.operation.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="versement-eleve-detail({id:versementEleve.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="versement-eleve.edit({id:versementEleve.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="versement-eleve.delete({id:versementEleve.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
