<div>
    <h2 translate="skulmanApp.classeEleve.home.title">Classe Eleves</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="classe-eleve.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.classeEleve.home.createLabel">
                        Create new Classe Eleve
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.classeEleve.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.classeEleve.anneeScolaire">Annee Scolaire</span></th>
                    <th><span translate="skulmanApp.classeEleve.isActive">Is Active</span></th>
                    <th><span translate="skulmanApp.classeEleve.observation">Observation</span></th>
                    <th><span translate="skulmanApp.classeEleve.classe">Classe</span></th>
                    <th><span translate="skulmanApp.classeEleve.eleve">Eleve</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="classeEleve in vm.classeEleves track by classeEleve.id">
                    <td><a ui-sref="classe-eleve-detail({id:classeEleve.id})">{{classeEleve.id}}</a></td>
                    <td>{{classeEleve.anneeScolaire}}</td>
                    <td>{{classeEleve.isActive}}</td>
                    <td>{{classeEleve.observation}}</td>
                    <td>
                        <a ui-sref="classe-detail({id:classeEleve.classe.id})">{{classeEleve.classe.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="eleve-detail({id:classeEleve.eleve.id})">{{classeEleve.eleve.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="classe-eleve-detail({id:classeEleve.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="classe-eleve.edit({id:classeEleve.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="classe-eleve.delete({id:classeEleve.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
