<div>
    <h2 translate="skulmanApp.chambre.home.title">Chambres</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chambre.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.chambre.home.createLabel">
                        Create new Chambre
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.chambre.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.chambre.code">Code</span></th>
                    <th><span translate="skulmanApp.chambre.libelle">Libelle</span></th>
                    <th><span translate="skulmanApp.chambre.nombreMaxPersonne">Nombre Max Personne</span></th>
                    <th><span translate="skulmanApp.chambre.batiment">Batiment</span></th>
                    <th><span translate="skulmanApp.chambre.typeChambre">Type Chambre</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chambre in vm.chambres track by chambre.id">
                    <td><a ui-sref="chambre-detail({id:chambre.id})">{{chambre.id}}</a></td>
                    <td>{{chambre.code}}</td>
                    <td>{{chambre.libelle}}</td>
                    <td>{{chambre.nombreMaxPersonne}}</td>
                    <td>
                        <a ui-sref="batiment-detail({id:chambre.batiment.id})">{{chambre.batiment.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="type-chambre-detail({id:chambre.typeChambre.id})">{{chambre.typeChambre.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chambre-detail({id:chambre.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chambre.edit({id:chambre.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chambre.delete({id:chambre.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
