<div>
    <h2 translate="skulmanApp.tranche.home.title">Tranches</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tranche.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.tranche.home.createLabel">
                        Create new Tranche
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.tranche.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.tranche.code">Code</span></th>
                    <th><span translate="skulmanApp.tranche.libelleFr">Libelle Fr</span></th>
                    <th><span translate="skulmanApp.tranche.libelleEn">Libelle En</span></th>
                    <th><span translate="skulmanApp.tranche.numero">Numero</span></th>
                    <th><span translate="skulmanApp.tranche.dateDeb">Date Deb</span></th>
                    <th><span translate="skulmanApp.tranche.dateFin">Date Fin</span></th>
                    <th><span translate="skulmanApp.tranche.regimePension">Regime Pension</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tranche in vm.tranches track by tranche.id">
                    <td><a ui-sref="tranche-detail({id:tranche.id})">{{tranche.id}}</a></td>
                    <td>{{tranche.code}}</td>
                    <td>{{tranche.libelleFr}}</td>
                    <td>{{tranche.libelleEn}}</td>
                    <td>{{tranche.numero}}</td>
                        <td>{{tranche.dateDeb | date:'mediumDate'}}</td>
                        <td>{{tranche.dateFin | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="regime-pension-detail({id:tranche.regimePension.id})">{{tranche.regimePension.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tranche-detail({id:tranche.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tranche.edit({id:tranche.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tranche.delete({id:tranche.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
