<div>
    <h2 translate="skulmanApp.cours.home.title">Cours</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cours.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.cours.home.createLabel">
                        Create new Cours
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.cours.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.cours.code">Code</span></th>
                    <th><span translate="skulmanApp.cours.createBy">Create By</span></th>
                    <th><span translate="skulmanApp.cours.updateBy">Update By</span></th>
                    <th><span translate="skulmanApp.cours.createAt">Create At</span></th>
                    <th><span translate="skulmanApp.cours.updateAt">Update At</span></th>
                    <th><span translate="skulmanApp.cours.anneeScolaire">Annee Scolaire</span></th>
                    <th><span translate="skulmanApp.cours.matiere">Matiere</span></th>
                    <th><span translate="skulmanApp.cours.classe">Classe</span></th>
                    <th><span translate="skulmanApp.cours.enseignant">Enseignant</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cours in vm.cours track by cours.id">
                    <td><a ui-sref="cours-detail({id:cours.id})">{{cours.id}}</a></td>
                    <td>{{cours.code}}</td>
                    <td>{{cours.createBy}}</td>
                    <td>{{cours.updateBy}}</td>
                    <td>{{cours.createAt | date:'medium'}}</td>
                    <td>{{cours.updateAt | date:'medium'}}</td>
                    <td>{{cours.anneeScolaire}}</td>
                    <td>
                        <a ui-sref="matiere-detail({id:cours.matiere.id})">{{cours.matiere.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="classe-detail({id:cours.classe.id})">{{cours.classe.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="enseignant-detail({id:cours.enseignant.id})">{{cours.enseignant.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cours-detail({id:cours.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cours.edit({id:cours.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cours.delete({id:cours.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
