
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBourseLabel" translate="skulmanApp.bourse.home.createOrEditLabel">Create or edit a Bourse</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bourse.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bourse.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bourse.motif" for="field_motif">Motif</label>
            <input type="text" class="form-control" name="motif" id="field_motif"
                    ng-model="vm.bourse.motif"
                    ng-maxlength="200" />
            <div ng-show="editForm.motif.$invalid">
                <p class="help-block"
                    ng-show="editForm.motif.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bourse.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                    ng-model="vm.bourse.montant"
                    required />
            <div ng-show="editForm.montant.$invalid">
                <p class="help-block"
                    ng-show="editForm.montant.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.montant.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bourse.anneeScolaire" for="field_anneeScolaire">Annee Scolaire</label>
            <input type="text" class="form-control" name="anneeScolaire" id="field_anneeScolaire"
                    ng-model="vm.bourse.anneeScolaire"
                    ng-maxlength="200" />
            <div ng-show="editForm.anneeScolaire.$invalid">
                <p class="help-block"
                    ng-show="editForm.anneeScolaire.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="skulmanApp.bourse.eleve" for="field_eleve">Eleve</label>
            <select class="form-control" id="field_eleve" name="eleve" ng-model="vm.bourse.eleve" ng-options="eleve as eleve.id for eleve in vm.eleves track by eleve.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
