<div>
    <h2 translate="skulmanApp.epreuve.home.title">Epreuves</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="epreuve.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.epreuve.home.createLabel">
                        Create new Epreuve
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.epreuve.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.epreuve.anneeScolaire">Annee Scolaire</span></th>
                    <th><span translate="skulmanApp.epreuve.typeEpreuve">Type Epreuve</span></th>
                    <th><span translate="skulmanApp.epreuve.cours">Cours</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="epreuve in vm.epreuves track by epreuve.id">
                    <td><a ui-sref="epreuve-detail({id:epreuve.id})">{{epreuve.id}}</a></td>
                    <td>{{epreuve.anneeScolaire}}</td>
                    <td>
                        <a ui-sref="type-epreuve-detail({id:epreuve.typeEpreuve.id})">{{epreuve.typeEpreuve.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="cours-detail({id:epreuve.cours.id})">{{epreuve.cours.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="epreuve-detail({id:epreuve.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="epreuve.edit({id:epreuve.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="epreuve.delete({id:epreuve.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
