
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPensionLabel" translate="skulmanApp.pension.home.createOrEditLabel">Create or edit a Pension</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pension.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pension.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.pension.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.pension.code"
                    ng-maxlength="50" />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.pension.libelleFr" for="field_libelleFr">Libelle Fr</label>
            <input type="text" class="form-control" name="libelleFr" id="field_libelleFr"
                    ng-model="vm.pension.libelleFr"
                    ng-maxlength="200" />
            <div ng-show="editForm.libelleFr.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelleFr.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.pension.libelleEn" for="field_libelleEn">Libelle En</label>
            <input type="text" class="form-control" name="libelleEn" id="field_libelleEn"
                    ng-model="vm.pension.libelleEn"
                    ng-maxlength="200" />
            <div ng-show="editForm.libelleEn.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelleEn.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.pension.numero" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.pension.numero"
                    max="10" />
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.max" translate="entity.validation.max" translate-value-max="10">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.numero.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.pension.dateDeb" for="field_dateDeb">Date Deb</label>
                <div class="input-group">
                    <input id="field_dateDeb" type="text" class="form-control" name="dateDeb" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pension.dateDeb" is-open="vm.datePickerOpenStatus.dateDeb"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDeb')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.pension.dateFin" for="field_dateFin">Date Fin</label>
                <div class="input-group">
                    <input id="field_dateFin" type="text" class="form-control" name="dateFin" uib-datepicker-popup="{{dateformat}}" ng-model="vm.pension.dateFin" is-open="vm.datePickerOpenStatus.dateFin"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
