<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png"/>
                <span translate="global.title">Skulman</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" translate="global.menu.home">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" >
                            <a ui-sref="absence-eleve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.absenceEleve">Absence Eleve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="absence-enseignant" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.absenceEnseignant">Absence Enseignant</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="absence-personnel" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.absencePersonnel">Absence Personnel</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="agent-administratif" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.agentAdministratif">Agent Administratif</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="annee-scolaire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.anneeScolaire">Annee Scolaire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="appreciation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.appreciation">Appreciation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="batiment" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.batiment">Batiment</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="bourse" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.bourse">Bourse</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="bulletin" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.bulletin">Bulletin</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="bus" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.bus">Bus</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="chambre" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.chambre">Chambre</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="chambre-eleve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.chambreEleve">Chambre Eleve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="classe" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.classe">Classe</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="classe-eleve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.classeEleve">Classe Eleve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="compte" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.compte">Compte</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="cours" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.cours">Cours</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="cycle" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.cycle">Cycle</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="deliberation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.deliberation">Deliberation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="droit" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.droit">Droit</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-epreuve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typeEpreuve">Type Epreuve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="eleve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.eleve">Eleve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="enseignant" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.enseignant">Enseignant</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="enseignant-titulaire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.enseignantTitulaire">Enseignant Titulaire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="epreuve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.epreuve">Epreuve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="etablissement" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.etablissement">Etablissement</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="evenement" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.evenement">Evenement</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="fichier" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.fichier">Fichier</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="fonctionnalite" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.fonctionnalite">Fonctionnalite</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="format-matricule" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.formatMatricule">Format Matricule</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="groupe-utilisateur" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.groupeUtilisateur">Groupe Utilisateur</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="jour" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.jour">Jour</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="login-action" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.loginAction">Login Action</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="login-connexion" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.loginConnexion">Login Connexion</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="matiere" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.matiere">Matiere</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="matiere-classe" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.matiereClasse">Matiere Classe</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="moratoire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.moratoire">Moratoire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="motif-exclusion" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.motifExclusion">Motif Exclusion</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="moyenne-tableau-honneur" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.moyenneTableauHonneur">Moyenne Tableau Honneur</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="niveau" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.niveau">Niveau</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="note" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.note">Note</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="paiement-personnel" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.paiementPersonnel">Paiement Personnel</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="parametre-etablissement" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.parametreEtablissement">Parametre Etablissement</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="parent" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.parent">Parent</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="pause" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.pause">Pause</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="periode-saisie-note" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.periodeSaisieNote">Periode Saisie Note</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="personnel" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.personnel">Personnel</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="projet-pedagogique" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.projetPedagogique">Projet Pedagogique</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="regime-pension" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.regimePension">Regime Pension</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="religion" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.religion">Religion</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="salaire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.salaire">Salaire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="salle" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.salle">Salle</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="section" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.section">Section</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="operation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.operation">Operation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="option-bulletin-note" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.optionBulletinNote">Option Bulletin Note</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="sequence" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.sequence">Sequence</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="serie" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.serie">Serie</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="statut" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.statut">Statut</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="statut-eleve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.statutEleve">Statut Eleve</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="tarif-bus" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.tarifBus">Tarif Bus</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="pension" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.pension">Pension</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="tranche-horaire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.trancheHoraire">Tranche Horaire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="tranche" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.tranche">Tranche</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="transaction-diverses" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.transactionDiverses">Transaction Diverses</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="trimestre" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.trimestre">Trimestre</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-abonnement-bus" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typeAbonnementBus">Type Abonnement Bus</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-chambre" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typeChambre">Type Chambre</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-moratoire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typeMoratoire">Type Moratoire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-operation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typeOperation">Type Operation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-personnel" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typePersonnel">Type Personnel</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="type-tranche-horaire" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.typeTrancheHoraire">Type Tranche Horaire</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="utilisateur" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.utilisateur">Utilisateur</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="vacation" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.vacation">Vacation</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="versement-eleve" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.versementEleve">Versement Eleve</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
