<div>
    <h2 translate="skulmanApp.note.home.title">Notes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="note.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.note.home.createLabel">
                        Create new Note
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.note.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.note.note">Note</span></th>
                    <th><span translate="skulmanApp.note.deleted">Deleted</span></th>
                    <th><span translate="skulmanApp.note.periodicite">Periodicite</span></th>
                    <th><span translate="skulmanApp.note.createBy">Create By</span></th>
                    <th><span translate="skulmanApp.note.updateBy">Update By</span></th>
                    <th><span translate="skulmanApp.note.createAt">Create At</span></th>
                    <th><span translate="skulmanApp.note.updateAt">Update At</span></th>
                    <th><span translate="skulmanApp.note.sequence">Sequence</span></th>
                    <th><span translate="skulmanApp.note.cours">Cours</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in vm.notes track by note.id">
                    <td><a ui-sref="note-detail({id:note.id})">{{note.id}}</a></td>
                    <td>{{note.note}}</td>
                    <td>{{note.deleted}}</td>
                    <td>{{note.periodicite}}</td>
                    <td>{{note.createBy}}</td>
                    <td>{{note.updateBy}}</td>
                    <td>{{note.createAt | date:'medium'}}</td>
                    <td>{{note.updateAt | date:'medium'}}</td>
                    <td>
                        <a ui-sref="sequence-detail({id:note.sequence.id})">{{note.sequence.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="cours-detail({id:note.cours.id})">{{note.cours.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="note-detail({id:note.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="note.edit({id:note.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="note.delete({id:note.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
