
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMoyenneTableauHonneurLabel" translate="skulmanApp.moyenneTableauHonneur.home.createOrEditLabel">Create or edit a Moyenne Tableau Honneur</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.moyenneTableauHonneur.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.moyenneTableauHonneur.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.moyenneTableauHonneur.conditionTableauHonneur" for="field_conditionTableauHonneur">Condition Tableau Honneur</label>
            <input type="number" class="form-control" name="conditionTableauHonneur" id="field_conditionTableauHonneur"
                    ng-model="vm.moyenneTableauHonneur.conditionTableauHonneur"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.moyenneTableauHonneur.conditionEncouragement" for="field_conditionEncouragement">Condition Encouragement</label>
            <input type="number" class="form-control" name="conditionEncouragement" id="field_conditionEncouragement"
                    ng-model="vm.moyenneTableauHonneur.conditionEncouragement"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.moyenneTableauHonneur.conditionFelicitation" for="field_conditionFelicitation">Condition Felicitation</label>
            <input type="number" class="form-control" name="conditionFelicitation" id="field_conditionFelicitation"
                    ng-model="vm.moyenneTableauHonneur.conditionFelicitation"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
