
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPaiementPersonnelLabel" translate="skulmanApp.paiementPersonnel.home.createOrEditLabel">Create or edit a Paiement Personnel</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.paiementPersonnel.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.paiementPersonnel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.montant" for="field_montant">Montant</label>
            <input type="number" class="form-control" name="montant" id="field_montant"
                    ng-model="vm.paiementPersonnel.montant"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.dette" for="field_dette">Dette</label>
            <input type="number" class="form-control" name="dette" id="field_dette"
                    ng-model="vm.paiementPersonnel.dette"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.anneeScolaire" for="field_anneeScolaire">Annee Scolaire</label>
            <input type="text" class="form-control" name="anneeScolaire" id="field_anneeScolaire"
                    ng-model="vm.paiementPersonnel.anneeScolaire"
                    ng-maxlength="50" />
            <div ng-show="editForm.anneeScolaire.$invalid">
                <p class="help-block"
                    ng-show="editForm.anneeScolaire.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.periode" for="field_periode">Periode</label>
            <input type="text" class="form-control" name="periode" id="field_periode"
                    ng-model="vm.paiementPersonnel.periode"
                    ng-maxlength="50" />
            <div ng-show="editForm.periode.$invalid">
                <p class="help-block"
                    ng-show="editForm.periode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.createBy" for="field_createBy">Create By</label>
            <input type="text" class="form-control" name="createBy" id="field_createBy"
                    ng-model="vm.paiementPersonnel.createBy"
                    ng-maxlength="50" />
            <div ng-show="editForm.createBy.$invalid">
                <p class="help-block"
                    ng-show="editForm.createBy.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.updateBy" for="field_updateBy">Update By</label>
            <input type="text" class="form-control" name="updateBy" id="field_updateBy"
                    ng-model="vm.paiementPersonnel.updateBy"
                    ng-maxlength="50" />
            <div ng-show="editForm.updateBy.$invalid">
                <p class="help-block"
                    ng-show="editForm.updateBy.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.createAt" for="field_createAt">Create At</label>
                <div class="input-group">
                    <input id="field_createAt" type="text" class="form-control" name="createAt" datetime-picker="{{dateformat}}" ng-model="vm.paiementPersonnel.createAt" is-open="vm.datePickerOpenStatus.createAt"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.paiementPersonnel.updateAt" for="field_updateAt">Update At</label>
                <div class="input-group">
                    <input id="field_updateAt" type="text" class="form-control" name="updateAt" datetime-picker="{{dateformat}}" ng-model="vm.paiementPersonnel.updateAt" is-open="vm.datePickerOpenStatus.updateAt"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updateAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="skulmanApp.paiementPersonnel.agentAdministratif" for="field_agentAdministratif">Agent Administratif</label>
            <select class="form-control" id="field_agentAdministratif" name="agentAdministratif" ng-model="vm.paiementPersonnel.agentAdministratif" ng-options="agentAdministratif as agentAdministratif.id for agentAdministratif in vm.agentadministratifs | orderBy:'id' track by agentAdministratif.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="skulmanApp.paiementPersonnel.operation" for="field_operation">Operation</label>
            <select class="form-control" id="field_operation" name="operation" ng-model="vm.paiementPersonnel.operation" ng-options="operation as operation.id for operation in vm.operations | orderBy:'id' track by operation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="skulmanApp.paiementPersonnel.personnel" for="field_personnel">Personnel</label>
            <select class="form-control" id="field_personnel" name="personnel" ng-model="vm.paiementPersonnel.personnel" ng-options="personnel as personnel.id for personnel in vm.personnels | orderBy:'id' track by personnel.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
