<div>
    <h2 translate="skulmanApp.appreciation.home.title">Appreciations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="appreciation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.appreciation.home.createLabel">
                        Create new Appreciation
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.appreciation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.appreciation.code">Code</span></th>
                    <th><span translate="skulmanApp.appreciation.libelleFr">Libelle Fr</span></th>
                    <th><span translate="skulmanApp.appreciation.libelleEn">Libelle En</span></th>
                    <th><span translate="skulmanApp.appreciation.minNote">Min Note</span></th>
                    <th><span translate="skulmanApp.appreciation.maxNote">Max Note</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="appreciation in vm.appreciations track by appreciation.id">
                    <td><a ui-sref="appreciation-detail({id:appreciation.id})">{{appreciation.id}}</a></td>
                    <td>{{appreciation.code}}</td>
                    <td>{{appreciation.libelleFr}}</td>
                    <td>{{appreciation.libelleEn}}</td>
                    <td>{{appreciation.minNote}}</td>
                    <td>{{appreciation.maxNote}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="appreciation-detail({id:appreciation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="appreciation.edit({id:appreciation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="appreciation.delete({id:appreciation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
