<div>
    <h2 translate="skulmanApp.loginConnexion.home.title">Login Connexions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="login-connexion.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="skulmanApp.loginConnexion.home.createLabel">
                        Create new Login Connexion
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'skulmanApp.loginConnexion.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="skulmanApp.loginConnexion.role">Role</span></th>
                    <th><span translate="skulmanApp.loginConnexion.loginTime">Login Time</span></th>
                    <th><span translate="skulmanApp.loginConnexion.status">Status</span></th>
                    <th><span translate="skulmanApp.loginConnexion.addressIp">Address Ip</span></th>
                    <th><span translate="skulmanApp.loginConnexion.nbEchecs">Nb Echecs</span></th>
                    <th><span translate="skulmanApp.loginConnexion.dateEchec">Date Echec</span></th>
                    <th><span translate="skulmanApp.loginConnexion.utilisateur">Utilisateur</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="loginConnexion in vm.loginConnexions track by loginConnexion.id">
                    <td><a ui-sref="login-connexion-detail({id:loginConnexion.id})">{{loginConnexion.id}}</a></td>
                    <td>{{loginConnexion.role}}</td>
                    <td>{{loginConnexion.loginTime | date:'medium'}}</td>
                    <td>{{loginConnexion.status}}</td>
                    <td>{{loginConnexion.addressIp}}</td>
                    <td>{{loginConnexion.nbEchecs}}</td>
                    <td>{{loginConnexion.dateEchec | date:'medium'}}</td>
                    <td>
                        <a ui-sref="utilisateur-detail({id:loginConnexion.utilisateur.id})">{{loginConnexion.utilisateur.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="login-connexion-detail({id:loginConnexion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="login-connexion.edit({id:loginConnexion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="login-connexion.delete({id:loginConnexion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
