
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBusLabel" translate="skulmanApp.bus.home.createOrEditLabel">Create or edit a Bus</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bus.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bus.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.immatriculation" for="field_immatriculation">Immatriculation</label>
            <input type="text" class="form-control" name="immatriculation" id="field_immatriculation"
                    ng-model="vm.bus.immatriculation"
                    ng-maxlength="50" />
            <div ng-show="editForm.immatriculation.$invalid">
                <p class="help-block"
                    ng-show="editForm.immatriculation.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.libelleFr" for="field_libelleFr">Libelle Fr</label>
            <input type="text" class="form-control" name="libelleFr" id="field_libelleFr"
                    ng-model="vm.bus.libelleFr"
                    ng-maxlength="200" />
            <div ng-show="editForm.libelleFr.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelleFr.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.libelleEn" for="field_libelleEn">Libelle En</label>
            <input type="text" class="form-control" name="libelleEn" id="field_libelleEn"
                    ng-model="vm.bus.libelleEn"
                    ng-maxlength="200" />
            <div ng-show="editForm.libelleEn.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelleEn.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.capacite" for="field_capacite">Capacite</label>
            <input type="number" class="form-control" name="capacite" id="field_capacite"
                    ng-model="vm.bus.capacite"
                    max="120" />
            <div ng-show="editForm.capacite.$invalid">
                <p class="help-block"
                    ng-show="editForm.capacite.$error.max" translate="entity.validation.max" translate-value-max="120">
                    This field cannot be more than 120.
                </p>
                <p class="help-block"
                    ng-show="editForm.capacite.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.marque" for="field_marque">Marque</label>
            <input type="text" class="form-control" name="marque" id="field_marque"
                    ng-model="vm.bus.marque"
                    ng-maxlength="50" />
            <div ng-show="editForm.marque.$invalid">
                <p class="help-block"
                    ng-show="editForm.marque.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.dateAcquisition" for="field_dateAcquisition">Date Acquisition</label>
                <div class="input-group">
                    <input id="field_dateAcquisition" type="text" class="form-control" name="dateAcquisition" uib-datepicker-popup="{{dateformat}}" ng-model="vm.bus.dateAcquisition" is-open="vm.datePickerOpenStatus.dateAcquisition"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateAcquisition')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.bus.isActive" for="field_isActive">Is Active</label>
            <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                    ng-model="vm.bus.isActive"
                     />
        </div>

        <div class="form-group">
            <label translate="skulmanApp.bus.tarifBus" for="field_tarifBus">Tarif Bus</label>
            <select class="form-control" id="field_tarifBus" name="tarifBus" ng-model="vm.bus.tarifBus" ng-options="tarifBus as tarifBus.id for tarifBus in vm.tarifbuses | orderBy:'id' track by tarifBus.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
