
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTypeAbonnementBusLabel" translate="skulmanApp.typeAbonnementBus.home.createOrEditLabel">Create or edit a Type Abonnement Bus</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.typeAbonnementBus.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.typeAbonnementBus.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.typeAbonnementBus.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.typeAbonnementBus.code"
                    ng-maxlength="50" />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.typeAbonnementBus.libelleFr" for="field_libelleFr">Libelle Fr</label>
            <input type="text" class="form-control" name="libelleFr" id="field_libelleFr"
                    ng-model="vm.typeAbonnementBus.libelleFr"
                    ng-maxlength="200" />
            <div ng-show="editForm.libelleFr.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelleFr.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.typeAbonnementBus.libelleEn" for="field_libelleEn">Libelle En</label>
            <input type="text" class="form-control" name="libelleEn" id="field_libelleEn"
                    ng-model="vm.typeAbonnementBus.libelleEn"
                    ng-maxlength="200" />
            <div ng-show="editForm.libelleEn.$invalid">
                <p class="help-block"
                    ng-show="editForm.libelleEn.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.typeAbonnementBus.anneeScolaire" for="field_anneeScolaire">Annee Scolaire</label>
            <input type="text" class="form-control" name="anneeScolaire" id="field_anneeScolaire"
                    ng-model="vm.typeAbonnementBus.anneeScolaire"
                    ng-maxlength="50" />
            <div ng-show="editForm.anneeScolaire.$invalid">
                <p class="help-block"
                    ng-show="editForm.anneeScolaire.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.typeAbonnementBus.montantAbonnement" for="field_montantAbonnement">Montant Abonnement</label>
            <input type="number" class="form-control" name="montantAbonnement" id="field_montantAbonnement"
                    ng-model="vm.typeAbonnementBus.montantAbonnement"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="skulmanApp.typeAbonnementBus.dureeAbonnement" for="field_dureeAbonnement">Duree Abonnement</label>
            <input type="number" class="form-control" name="dureeAbonnement" id="field_dureeAbonnement"
                    ng-model="vm.typeAbonnementBus.dureeAbonnement"
                    max="7" />
            <div ng-show="editForm.dureeAbonnement.$invalid">
                <p class="help-block"
                    ng-show="editForm.dureeAbonnement.$error.max" translate="entity.validation.max" translate-value-max="7">
                    This field cannot be more than 7.
                </p>
                <p class="help-block"
                    ng-show="editForm.dureeAbonnement.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
